@import "common";

$temp-color: greenyellow;

section {
	width: 1280px;
	//width: 100%;
}

#best-hotels {
	background-color: antiquewhite;
	height: 736px;

	h1 {
		color: rgb(0, 0, 0);
		font-family: Open Sans;
		font-size: 40px;
		font-weight: 600;
		line-height: 60px;
	}

	p {
		color: rgb(85, 85, 85);
		font-family: Open Sans;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
	}

	.button-bar {
		justify-content: space-between;
	}
	.cards-box {
		row-gap: 10px;
	}

	.card1,
	.card2,
	.card3 {
		//width: 33%;
		background-color: $temp-color;
	}
}
